<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
    <h2>Tiny App</h2>

      <% if(user){ %>
        <h1><%= user.email %></h1>
        <form action="/logout" method="POST" >
          <input type="submit" value="Logout">
      </form>
      <% } else{ %>
        <span><a href="register">Registration page</a></span>
        <span><a href="login">Login</a></span>
      <% } %>
    
        
</body>
</html>



