<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>
</head>
<body>
    
  <% if(username){ %>
    <h1><%= username %></h1>
    <form action="/logout" method="POST" >
      <input type="submit" value="Logout">
  </form>
  <% } else{ %>  
    <h1>You need to log in!</h1>
    <form action="/login" method="POST" style="margin:50px;">
      <label for="username">Enter username:</label>
      <input id="username" type="text" name="username" placeholder="Username" style="width: 150px">
      <input type="submit" value="Log in">
    </form>
  <% } %>

    
</body>
</html>



