<!DOCTYPE html>
<html lang="en">
  <head></head>
 
  <header>
    <% include ./partials/_header.ejs %>
</header>

    <h1><font color="green">Login Page</font></h1>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Enter username:</label>
      <input id="email" type="email" name="email" placeholder="email" style="width: 200px">
      <label for="password">Enter password:</label>
      <input id="password" type="password" name="password" placeholder="password" style="width: 150px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>



